form {
	margin: 0 auto;
	margin-top: 40px;
	width: 40%;
}

input, textarea {
	display: block;
	margin-top: 10px;
	width: 100%;
	font-size: .9em;
	color: black;
	padding: 3px;
}

textarea {
	height: 150px;
}

input[type=submit] {
	width: 60px;
	height: 30px;
	float: right;
	background: $teal;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: .8em;
	text-align: center;
	padding: .4em;
}



