@import "compass/css3";

body {
	min-width: 1200px;
}

.grid {

	line-height: 1.5em;
}

.nicknamed, .iconick, .nicknacks, .nicktime, .nickpick {
	padding-top: 11.5em;
	padding-bottom: 3em;
}

.nickpick {
	padding-bottom: 6em;
}


