.nickpick {
	min-height: 700px;
	background: url('../img/nav_repeating.jpg') repeat;
	background-position: 90% 90%;
	h1, h2 {
		color: white;
	}
	h1 {
		margin-left: 29%;
		display: block;
	}
	h2 {
		text-align: center;
	}
	p {
		margin: 0;
		font-size: .95em;
	}
	p, a {
		text-align: center;
		color: white;
	}

	.social {
		margin: 30px auto;
		width: 154px;
		img {
			padding: 3px;
		}
	}
}




