
.nicknamed-banner-top {
	height: 632px;
	background: url('../img/nicknamed_banner_top.jpg') no-repeat;
	background-clip: padding-box;
}
.nicknamed {
	background: url('../img/nicknamed_headshot.png') no-repeat 6% 114%, url('../img/square.png') repeat;
	height: 545px;
	div {
		position: absolute;
		left: 500px;
		// margin-left: 48%;
		width: 48%;
		padding-top: 3em;
	}
	.nicknamed-icon {
		background: url('../img/nicknamed_icon.png') no-repeat;
		z-index: 15;
		position: fixed;
		width: 70px;
		height: 71px;
		top: 20px;
		margin-left: -140px;
	}
	h1 span.floating {
		display: block;
		position: fixed;
		text-align: center;
	}
	h1 span.staying {
		color: $light-gray;
		padding-left: 219px;
	}
	p {
		padding-left: 5px;
		width: 550px;
	}
	
}