.nicknacks {
	min-height: 950px;
	background: url('../img/nacks.png') no-repeat, url('../img/nav_repeating.jpg') repeat;
	background-position: 58% 90%;
	h1, h2 {
		color: white;
	}
	h1 {
		display: block;
		text-align: center;
		position: relative;

		margin-left: 0;
	}
	h2 {
		text-align: center;
	}
}
